@font-face {
  font-family: "Libre-Franklin-700";
  src: url("/src/assets/fonts/LibreFranklin-Bold.ttf");
}
@font-face {
  font-family: "Libre-Franklin-600";
  src: url("/src/assets/fonts/LibreFranklin-SemiBold.ttf");
}
@font-face {
  font-family: "Libre-Franklin-300";
  src: url("/src/assets/fonts/LibreFranklin-Light.ttf");
}
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Libre-Franklin-300", sans-serif;
  box-sizing: border-box;
}

button {
  border-style: none;
  padding: 1rem 1rem;
  background-color: hsl(223, 87%, 63%);
  border-radius: 2rem 2rem;
  color: white;
  margin: auto 2rem;
  width: 10em;
  cursor: pointer;
  font-size: clamp(1.1rem, 0.2rem + 2vw, 1.8rem);
}
button:hover {
  background-color: hsla(223, 87%, 63%, 0.623);
  box-shadow: 2px 2px 8px hsla(223, 87%, 63%, 0.623);
}

.icons__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons__container:first-child {
  margin-right: 0;
}
.icons__container button {
  text-align: center;
  width: 3em;
  height: 3em;
  border-radius: 50% 50%;
  background-color: white;
  border: 0.5px solid hsla(0, 0%, 59%, 0.349);
  box-shadow: none;
  font-size: 2rem;
}
.icons__container button:hover {
  background-color: hsl(223, 87%, 63%);
}
.icons__container button:hover svg {
  color: white;
}
.icons__container button svg {
  color: hsl(223, 87%, 63%);
  font-size: 1.4em;
}

input[type=email] {
  border-radius: 2rem 2rem;
  padding: 1rem;
  border: 1px solid hsl(223, 100%, 88%);
  font-size: clamp(1.1rem, 0.2rem + 2vw, 1.8rem);
  width: 20em;
}
input[type=email]:focus {
  outline: none !important;
}
input[type=email].alert {
  color: hsl(354, 100%, 66%);
  border: 2px solid hsl(354, 100%, 66%);
}
input[type=email].alert:focus {
  outline: none !important;
  border: 2px solid hsl(354, 100%, 66%);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 31em) {
  footer .icons__container button {
    font-size: 1.3rem;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 0.5;
  max-width: 120rem;
}
header h1 {
  color: hsl(0, 0%, 59%);
  font-size: clamp(2rem, 1.6rem + 2vw, 4rem);
}
header h1 span {
  color: black;
  font-family: "Libre-Franklin-700";
}
header p {
  margin-bottom: 5rem;
  font-size: clamp(1rem, 1rem + 2vw, 2rem);
}
header .input__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
}
header .input__container .alert__message {
  position: absolute;
  left: 2%;
  top: 80%;
  font-size: 1.3rem;
  color: hsl(354, 100%, 66%);
  padding: 1rem;
}
@media screen and (max-width: 31em) {
  header .input__container {
    flex-direction: column;
  }
  header .input__container .alert__message {
    left: 10%;
    top: 26%;
    font-size: 1rem;
  }
  header button {
    margin: 3rem 0;
    width: 100%;
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem auto;
}
main figure {
  max-width: 50rem;
}
main .page-image {
  width: 100%;
}/*# sourceMappingURL=style.css.map */